

{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>

<style>
    .home-container{
        display:grid;
        grid-template-rows: 1fr 1fr;
    }
</style>

<div class="home-container">

    <div>

        <h3>Browse Tickets</h3>
        <hr>

        <div>
            <a href="{% url 'Home' %}">All</a>
        </div>

        {% for ticket in tickets %}
            <div>
                <a href="{% url 'Home' %}?q={{ticket.subject}}" >{{ticket.subject}}
            </div>
        {% endfor %}

    </div>
    
    {% include 'base/feed_component.html'%}

</div>

{% endblock content %}