{% extends 'main.html' %}

{% block content %}

<h1>User Dashboard</h1>

<style>
    .userdashboard-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="userdashboard-container">
    <div>
       {% include 'base/tickets_component.html' %}
    </div>
    <div>
        {% for ticket in tickets %}
        <div>
            <span>@{{ticket.agent.username}}</span>
            <h5>{{ticket.id}} -- <a href="{% url 'ticket' ticket.id %}">{{ticket.subject}}</a></h5>
        </div>
        {% endfor %}
    </div>
    <div>
        {% include 'base/recentcomments_component.html' %}
    </div>
</div>

{% endblock content %}