{% extends 'main.html' %}

{% block content %}


<h1>User Dashboard</h1>

<style>
    .home-container{
        display:grid;
        grid-template-rows: 1fr 1fr;
        gridtemplate-columns: 1fr 3fr 1fr;}
</style>

<div class="home-container">

    <div>

        <h3>Browse Tickets</h3>
        <hr>

        {% for ticket in tickets %}
            <div>
                <a href="{% url 'Home' %}?q={{ticket.subject}}" >{{ticket.subject}}
            </div>
        {% endfor %}

    </div>

    <div>
        {% for ticket in tickets %}
        <div>
            <span>@{{ticket.agent.username}}</span>
            <h5>{{ticket.id}} -- <a href="{% url 'ticket' ticket.id %}">{{ticket.subject}}</a></h5>
        </div>
        {% endfor %}
    </div>

</div>

<div>
   
    <a href="{% url 'create-ticket' %}">Create ticket</a>

</div>

{% endblock content %}