{% extends 'main.html' %}

{% block content %}

<h1>User Dashboard</h1>

<style>
    .userdashboard-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="userdashboard-container">
    <div>
       {% include 'base/tickets_component.html' %}
    </div>
    <div>
        
        <div>
            {% include 'base/feed_component.html' %}
        </div>
        
    </div>
    <div>
        {% include 'base/recentcomments_component.html' %}
    </div>
</div>

{% endblock content %}